<link rel="stylesheet" href="~/css/CreateStyle.css" asp-append-version="true">
<form asp-controller="home">
    <div class="contact_info">
        <div class="user_photo">
            <img 
                src="~/images/User_Avatar_512x512.png" 
                width="250px"
                height="160px" 
                class="avatar">
            <input 
                type="file" 
                class="inputFile" 
                name='photo'
                accept="image/*" 
                onclick="DrawPicture()">
        </div>
        <div class="form_info">
            <label>Имя:</label>
            <input class="name" type="search" name='name' value="@ViewData["name"]">
            <label>Номер:</label>
            <input class="phone" type="search" name='number' value="@ViewData["phone"]">
            <label>Email:</label>
            <input class="email" type="search" name='email' value="@ViewData["email"]">
            <button class="btn" asp-action="SaveEditContact">Сохранить</button>
            <button class="btn" asp-action="CancelAction">Отмена</button>
        </div>
    </div>
</form>
<script src="~/js/EditContact.js" asp-append-version="true"></script>