@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper">
    <div class="search">
        <input class="find" type="search" placeholder="Введите имя">
    </div>
    <div class="list_contact">
        <select size="5">
            <option>Контакт 1</option>
            <option>Контакт 2</option>
            <option>Контакт 3</option>
            <option>Контакт 4</option>
        </select>
    </div>
    <div class="buttons_contact">
        <input type="image" src="~/images/Add_User_512x512.png"
               width="30px" height="30px" class="add">
        <input type="image" src="~/images/Edit_User_512x512.png"
               width="30px" height="30px" class="edit">
        <input type="image" src="~/images/Remove_User_512x512.png"
               width="30px" height="30px" class="remove">
    </div>
    <div class="contact_info">
        <div class="user_photo">
            <img src="~/images/User_Avatar_512x512.png" width="150px" height="150px">
        </div>
        <div class="form_info">
            <label>Имя:</label>
            <input class="name" type="search">
            <label>Номер:</label>
            <input class="phone" type="search">
            <label>Email:</label>
            <input class="email" type="search">
        </div>
    </div>
</div>
