@{
    ViewData["Title"] = "Home page";
    var name = ViewData["name"];
    var number = ViewData["number"];
    var email = ViewData["email"];
}

<div class="wrapper">
    <div class="search">
        <input class="find" type="search" placeholder="Введите имя">
    </div>
    <div class="list_contact">
        <select size="5">
            <option>Контакт 1</option>
            <option>Контакт 2</option>
            <option>Контакт 3</option>
            <option>Контакт 4</option>
        </select>
    </div>
    <div class="buttons_contact">
        <form>
        <input type="image" src="~/images/Add_User_512x512.png"
               width="30px" height="30px" class="add" id="add" asp-action="Create">
        <input type="image" src="~/images/Edit_User_512x512.png"
               width="30px" height="30px" class="edit">
        <input type="image" src="~/images/Remove_User_512x512.png"
               width="30px" height="30px" class="remove">
        </form>
    </div>
    <div class="contact_info">
        <div class="user_photo">
            <img src="~/images/User_Avatar_512x512.png" width="150px" height="150px">
        </div>
        <div class="form_info">
            <label>Имя:</label>
            <input class="name" type="search" value="@name">
            <label>Номер:</label>
            <input class="phone" type="search" value="@number">
            <label>Email:</label>
            <input class="email" type="search" value="@email">
        </div>
    </div>
</div>
