<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ContactAppASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ContactStyle.css">
    <link rel="stylesheet" href="~/ContactAppASP.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ContactAppASP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
            <div class="search">
                <input class="find" type="search" placeholder="Введите имя">
            </div>
            <div class="list_contact">
                <select size="5">
                    <option>Контакт 1</option>
                    <option>Контакт 2</option>
                    <option>Контакт 3</option>
                    <option>Контакт 4</option>
                </select>
            </div>
            <div class="buttons_contact">
                <input type="image" src="/images/Add_User_512x512.png"
                       width="55px" height="55px" class="add">
                <input type="image" src="/images/Remove_User_512x512.png"
                       width="55px" height="55px" class="remove">
                <input type="image" src="/images/User_Avatar_512x512.png"
                       width="55px" height="55px" class="edit">
            </div>
            <div class="contact_info">
                <div class="user_photo">
                    <img src="/images/Empty_User_512x512.png" width="200px" height="200px">
                </div>
                <div class="form_info">
                    <label>Имя:</label>
                    <input class="name" type="search">
                    <label class="lab">Номер:</label>
                    <input class="phone" type="search">
                    <label class ="lab">Email:</label>
                    <input class="email" type="search">
                </div>
            </div>
        </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
