<link rel="stylesheet" href="~/css/AddEditStyle.css" asp-append-version="true">
<form asp-controller="Contact" enctype="multipart/form-data" asp-action="SaveEditContact">
    <div class="contact_info">
        <div class="hero">
            <label for="input-file" id="drop-area">
                <input type="file" accept="image/*" id="input-file" hidden name="photo">
                <img id="img-view" src="@ViewData["photo"]" name='photo'>
                <p>Перетащи свое фото или нажми сюда<br>для загрузки фото.</p>
            </label>
        </div>
        <div class="form_info">
            <label>Имя:</label>
            <input class="name" id="name" type="search" name='name' value="@ViewData["name"]">
            <label>Номер:</label>
            <input class="phone" id="phone" type="search" name='number' value="@ViewData["phone"]">
            <label>Email:</label>
            <input class="email" id ="email" type="search" name='email' value="@ViewData["email"]">
            <button class="btn" asp-action="CancelAction" id = "saveBut">Отмена</button>
            <button class="btn" asp-action="SaveEditContact">Сохранить</button>
        </div>
    </div>
</form>
<script src="~/js/EditContact.js" asp-append-version="true"></script>
<script src="~/js/ContactValidation.js" asp-append-version="true"></script>